* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background-size: cover;
    padding: 40px 0 62px 0;
    background: url("../img/bg/background.jpg") no-repeat center center;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
}

.logo .logo_text {
    color: white;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #f9bf3b;
    font-family: "Roboto - Black", serif;
    font-size: 41px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: white;
    font-family: "Roboto - Black", serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px 0 13px;
    color: white;
    font-family: "Roboto Light", serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-family: Roboto, serif;
    text-transform: uppercase;
    font-weight: bold;
}

.promo .promo_btn {
    display: block;
    margin: 72px auto;
    width: 317px;
    height: 73px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0, #3ab6da 100%);
    color: white;
    font-family: "Roboto Light", serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    color: white;
    font-family: "Roboto Thin", serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.more .more_img {
    width: 20px;
    height: 20px;
    display: block;
    margin: 13px auto 0;
}

.waiting {
    height: 604px;
    padding: 85px 0 75px 0;
    background-color: #efefef;
}

.waiting .waiting_header{
    color: #252525;
    font-family: Roboto, serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.waiting .waiting_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 18px auto 0;
}

.waiting .waiting_subheader{
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto, serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.waiting .waiting_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item{
    vertical-align: top;
    width: 340px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    margin-top: 23px;
    color: #4a4a4a;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 300;
}